.btn-ng-bs-animated .icons {
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}
.btn-ng-bs-animated.is-active .icons {
  opacity: 1;
  width: 13px;
  margin-right: 10px;
}
.btn-ng-bs-animated.is-active .icons .icon-spinner {
  animation: rotation 2s infinite linear;
}